<div class="handle-chat">
    <button type="button" class="handle-chat__button">
        <img src="/images/attach-icon.svg" alt="Иконка прикрепления файла">
    </button>
    <label class="handle-chat__label">
        <input type="text" placeholder="Сообщение" class="handle-chat__field">
    </label>
    <button type="button" class="handle-chat__button">
        <img src="/images/submit.svg" alt="Иконка прикрепления файла">
    </button>
</div>
