@import "src/styles/variables";
@import "src/styles/mixins";

.handle-chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 10px;

  &__button {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
    outline: none;
    cursor: pointer;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
}

  &__label {
    flex-grow: 1;
}

  &__field {
    width: 100%;
    padding: 10px 20px;
    background-color: $background-light-color;
    outline: none;
    border: none;
    border-radius: 30px;

    &::placeholder {
      @include text-shared(12px, 12px, $text-light-color);
  }
}
}
