@import "src/styles/mixins"
@import "src/styles/variables"

.information-row

  display: flex
  justify-content: space-between
  align-items: center
  position: relative
  padding: 10px 0

  &:after
    @include border-row-absolute

  &:last-child
    &:after
      display: none

  &__name, &__value
    @include text-field()

  &__value
    color: $text-light-color
