@import "src/styles/variables";
@import "src/styles/mixins";

.modal {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: $z-index-modal;
  display: none;

  &__overlay {
    $background-color: rgba(0, 0, 0, 0.4);

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background-color;
    height: 100%;
  }

  &__title {
    margin: 0 0 50px;
    @include text-shared(15px, 20px);
    text-align: center;
  }

  &__form {
    width: 340px;
    padding: 40px 30px;
    background-color: white;
  }

  &--visible {
    display: block;
  }
}
