@import "src/styles/variables";
@import "src/styles/mixins";

.sidebar-chats {
  $width: 310px;
  $max-height: 100vh;

  width: $width;
  min-width: $width;
  max-height: $max-height;
  overflow-y: auto;
  padding: 0 0 21px;
  border-right: 1px $border-light-color solid;

  &__head {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    padding: 21px 10px 0;
}

  &__head-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }

  &__button-add {
    display: flex;
    align-items: center;
    gap: 0 8px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
    transition: opacity $transition-animation;

    &:hover {
      opacity: $hover-opacity;
    }
  }

  &__link-profile {
    @include text-shared(12px, 12px, $text-light-color);

    text-decoration: none;
    transition: opacity $transition-animation;
    margin-bottom: 16px;

    &:hover {
      opacity: $hover-opacity;
  }
}

  &__input {
    position: relative;
    margin: 23px 0 14px;
    width: 100%;

    &:focus {
      .sidebar-chats__input-field {
        background-color: red;
    }
  }
}

  &__input-field {
    $padding-left: 34px;

    width: 100%;
    border: none;
    outline: none;
    background-color: $background-light-color;
    border-radius: 5px;
    height: 32px;
    padding-left: 34px;

    &:focus {
      & + span {
        $translate: translate(calc(-200% - 14px), -50%);

        transform: $translate;
    }

      & + span > span {
        opacity: 0;
    }
  }
}

  &__input-placeholder {
    $translate: translate(-50% , -50%);

    cursor: text;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: $translate;
    display: flex;
    align-items: center;
    gap: 0 4px;
    will-change: auto;
    transition: transform $transition-animation;
}

  &__input-placeholder-text {
    @include text-shared(12px, 12px, $text-light-color);

    transition: opacity $transition-animation;
}

  &__list {
    margin: 0;
    padding: 0 10px;
}

  &__empty-list {
    display: flex;
    justify-content: center;
  }
}
