<button type="button" class="context-menu">
    <span class="context-menu__dots"></span>

    <span class="context-menu__droplist">
        <span class="context-menu__droplist-item">
            <img src="/images/plus.svg" alt="Иконка добавления" class="context-menu__icon">
            Добавить пользователя
        </span>
        <span class="context-menu__droplist-item">
            <img src="/images/plus.svg" alt="Иконка добавления" class="context-menu__icon context-menu__icon_rotate">
            Удалить пользователя
        </span>
    </span>
</button>
