<div class="chat-messages">
    <div class="chat-messages__head">
        <div class="chat-messages__head-left">
            <div class="chat-messages__avatar"></div>
            <p class="chat-messages__name">Вадим</p>
        </div>
        {{> "main/context-menu"}}
    </div>
    <div class="chat-messages__footer">
        <p class="chat-messages__date-separator">19 июня</p>
        <ul>

        </ul>
    </div>
</div>
