<main class="main">
    {{{Sidebar
            chats=chats
            onClickAddChat=onShowModalAddChat
            onSelectChat=onSelectChat
            selectedChatId=selectedChatId
    }}}
    {{{Messages
            selectedChatId=selectedChatId
    }}}

    {{{Modal
            visible=visibleChatAdd
            label="Название чата"
            title="Добавить чат"
            titleButton="Добавить"
            onClose=onHideModalAddChat
            value=valueField
            onChange=onChange
            onClick=onAddChat
    }}}
</main>
