<aside class="sidebar-chats">
    <div class="sidebar-chats__head">
        <div class="sidebar-chats__head-left">
            <a href="/settings" class="sidebar-chats__link-profile">
                Профиль
                <img src="/images/arrow-profile.svg" alt="Иконка перехода в профиль">
            </a>
            {{{Button title="Добавить чат" onClick=onClickAddChat ref="buttonAdd"}}}
        </div>
        <label class="sidebar-chats__input">
            <input type="text" class="sidebar-chats__input-field">
            <span class="sidebar-chats__input-placeholder">
                <img
                        src="/images/search.svg"
                        class="sidebar-chats__input-icon" alt="Иконка поля поиска"
                >
                <span class="sidebar-chats__input-placeholder-text">Поиск</span>
            </span>
        </label>
    </div>
    <ul class="sidebar-chats__list">
        {{#if chats.length}}
            {{#each chats}}
                {{{CardChat
                        id=id
                        selectedChatId=../selectedChatId
                        name=name
                        message=message
                        lastTime=lastTime
                        count=count
                        isMe=isMe
                        avatar=avatar
                        onSelectChat=../onSelectChat
                }}}
            {{/each}}
        {{else}}
            <span class="sidebar-chats__empty-list">Список чатов пуст</span>
        {{/if}}
    </ul>
</aside>
