<main class="authorization">
    <form class="authorization__form">
        <h3 class="authorization__title">Вход</h3>

        <fieldset class="authorization__form-group">
            {{{ Input name="login" label="Логин" type="text" className="authorization__input" }}}
            {{{ Input name="password" label="Пароль" type="password" className="authorization__input" }}}
        </fieldset>

        <div class="authorization__buttons">
            {{{ Button title="Войти" type="submit" className="authorization__submit" }}}
            {{{ ButtonText title="Нет аккаунта?" href="./registration.html"
                           className="authorization__registration-button" }}}
        </div>
    </form>
</main>
