<label class="avatar-profile">
    <input type="file" name="avatar" class="avatar-profile__input">
    <img src="/images/plug-avatar.svg" alt="Заглушка аватара" class="avatar-profile__icon">
    <span class="avatar-profile__description">
        Поменять <br> аватар
    </span>
</label>
