{{#> root title="Изменить профиль" className="profile-edit"}}
    {{#> sidebar className="profile__sidebar" href="profile.html"}}
        <section class="profile-edit__content">
            <div class="profile-edit__header">
                {{> "AvatarProfile/avatarProfile"}}
            </div>
            <form class="profile-edit__body">
                {{> "Input/input" name="email" label="Почта" type="email" className="profile-edit__input"}}
                {{> "Input/input" name="login" label="Логин" type="text" className="profile-edit__input"}}
                {{> "Input/input" name="first_name" label="Имя" type="text" className="profile-edit__input"}}
                {{> "Input/input" name="second_name" label="Фамилия" type="text" className="profile-edit__input"}}
                {{> "Input/input" name="display_name" label="Имя в чате" type="text" className="profile-edit__input"}}
                {{> "Input/input" name="phone" label="Телефон" type="tel" className="profile-edit__input"}}
                {{> "Button/button" title="Сохранить" className="profile-edit__button" type="button"}}
            </form>
        </section>
    {{/sidebar}}
{{/root}}
