<button class="context-menu">
    <span class="context-menu__dots"></span>

    <span class="context-menu__droplist">
        {{#ForwardRef onClick=onClickAddUserChat className="context-menu__droplist-item" ref="add"}}
            <img src="/images/plus.svg" alt="Иконка добавления" class="context-menu__icon">
            Добавить пользователя
        {{/ForwardRef}}
        {{#ForwardRef onClick=onClickDeleteUserChat className="context-menu__droplist-item" ref="delete"}}
            <img src="/images/plus.svg" alt="Иконка удаления" class="context-menu__icon context-menu__icon_rotate">
            Удалить пользователя
        {{/ForwardRef}}
        {{#ForwardRef onClick=onClickDeleteChat className="context-menu__droplist-item" ref="deleteChat"}}
            <img src="/images/plus.svg" alt="Иконка удаления" class="context-menu__icon context-menu__icon_rotate">
            Удалить чат
        {{/ForwardRef}}
    </span>
</button>
