<div class="sidebar">
    <aside >
        {{#Link href=href title="" className="sidebar__button"}}
            <img src="/images/arrow-back.svg" alt="Иконка кнопки назад" class="sidebar__icon">
        {{/Link}}
    </aside>
    <!-- Здесь будет children -->
</div>
