<div class="sidebar">
    <aside >
        <a type="button" href="{{href}}" title="Кнопка назад" class="sidebar__button">
            <img src="/images/arrow-back.svg" alt="Иконка кнопки назад" class="sidebar__icon">
        </a>
    </aside>
    <!-- Здесь будет children -->
</div>
