@import "variables";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: $font-family;
  font-style: normal;
  font-weight: 500;
  color: $text-color;
  padding: 0;
  margin: 0;
}
