$accent-color: #3369F3;
$error-color: #FF2F2F;
$text-color: #1E1E1E;
$text-light-color: #999;
$background-light-color: #EFEFEF;
$background-dark-color: #1E1E1E;
$font-family: 'Inter', sans-serif;
$font-family-fallback: 'Open Sans', sans-serif;
$transition-animation: .25s ease;
$shadow-main: 0 0 6px 0 rgb(0 0 0 / 14%);
$hover-opacity: 0.75;
$border-light-color: #EAEAEA;
$z-index-droplist: 2000;
$z-index-modal: 9000;
