{{#if disabled}}
    <button type="button" class="handle-chat__button" disabled>
        <img src="/images/submit.svg" alt="Иконка отправки сообщения">
    </button>
    {{else}}
    <button type="button" class="handle-chat__button">
        <img src="/images/submit.svg" alt="Иконка отправки сообщения">
    </button>
{{/if}}
