<section class="error-block">
    <h2 class="error-block__title">{{title}}</h2>
    <p class="error-block__description">{{description}}</p>
    {{> "ButtonText/button" title="Назад к чатам" href="index.html" className="error-block__link" }}
</section>
