<main class="profile-edit">
    {{# SidebarLayout className="profile__sidebar" href="/settings"}}
        <section class="profile-edit__content">
            <div class="profile-edit__header">
                {{{ AvatarProfile canChange=false avatar=avatar }}}
            </div>
            {{# ForwardRefForm ref="form" className="profile-edit__body"}}
                {{{ Input
                        name="password"
                        ref="password"
                        label="Старый пароль"
                        type="password"
                        className="profile-edit__input"
                        errorText=errorsValidation.password
                        value=values.password
                        onChange=handlersChange.password
                        onBlur=handlersBlur.password
                }}}
                {{{ Input
                        name="new_password"
                        ref="new_password"
                        label="Новый пароль"
                        type="password"
                        className="profile-edit__input"
                        errorText=errorsValidation.new_password
                        value=values.new_password
                        onChange=handlersChange.new_password
                        onBlur=handlersBlur.new_password
                }}}
                {{{ Button title="Сохранить" className="profile-edit__button" type="button" onClick=onClick}}}
            {{/ ForwardRefForm}}
        </section>
    {{/SidebarLayout}}
</main>
